@media only screen and (min-width: 38rem) {

.navigation {

display: block;

}

.navigation ul {

display: flex;

}

.navigation li {

flex: 1;

}

.hamburger {

display: none;

}

main {

display: grid;

grid-template-columns: 2fr 1fr;

gap: 1rem;

}

h1 {

grid-column: 1 / 3;

}

.certificate {

grid-column: 1 / 3;

}

#courses-container {

grid-template-columns: 1fr 1fr 1fr;

}

}