body {

margin: 0;

font-family: "Josefin Sans", sans-serif;

}

header,
main,
nav,
footer {

max-width: 900px;

margin: 0 auto;

}

header {

display: grid;

grid-template-columns: 40px auto 44px;

align-items: center;

padding: 1rem;

border-bottom: 1px solid #ddd;

}

header img {

width: 30px;

}

header span {

font-size: 1.5rem;

font-weight: 700;

color: #1d3557;

}

.hamburger {

font-size: 2rem;

background: none;

border: none;

cursor: pointer;

}

.hamburger::before {

content: "☰";

}

.hamburger.show::before {

content: "✖";

}

.navigation {

display: none;

}

.navigation.show {

display: block;

}

.navigation ul {

list-style: none;

padding: 0;

margin: 0;

}

.navigation a {

display: block;

padding: .8rem;

text-align: center;

text-decoration: none;

color: #1d3557;

border-bottom: 1px solid #ddd;
}

.navigation a:hover {

background: #e07a5f;

color: white;

}

main {
padding: 1rem;
}

.card {

background: #f4f4f4;

margin: 1rem 0;

border-radius: 8px;

overflow: hidden;

border: 1px solid #ddd;

}

.card h2 {

background: #1d3557;

color: white;

margin: 0;

padding: .8rem;

text-align: center;

}

.card p {

padding: 0 1rem;

text-align: justify;

line-height: 1.6;

}

.card p + p {

text-indent: 2rem;

}

.photo img {

display: block;

margin: 1rem auto;

width: 250px;

border-radius: 10px;

}

.filter-buttons {

display: grid;

grid-template-columns: 1fr 1fr 1fr;

gap: .5rem;

padding: 1rem;

}

.filter-buttons button {

padding: .7rem;

border-radius: 8px;

border: 1px solid #999;

cursor: pointer;
}

#courses-container {

display: grid;

gap: .5rem;

padding: 1rem;

}

.course-card {

padding: 1rem;

text-align: center;

background: #eee;

border-radius: 8px;

font-weight: bold;

}

.course-card.completed {

background: #eef5d8;

}

footer {

text-align: center;

padding: 1rem;

background: #f4f4f4;

}

.social {

display: flex;

justify-content: center;

gap: 1rem;

margin-bottom: 1rem;

}

.social img {

width: 32px;

}

.current a {
background: #1d3557;
color: white;
font-weight: bold;
}