@media only screen and (min-width: 38rem) {
  .hamburger {
    display: none;
  }

  .navigation {
    display: block;
  }

  .navigation ul {
    display: flex;
  }

  .navigation li {
    flex: 1;
  }

  .services-preview-grid,
  .testimonials-grid,
  .services-grid,
  .contact-layout {
    grid-template-columns: 1fr 1fr;
  }

  .hero-buttons {
    flex-direction: row;
    justify-content: flex-start;
  }

  .site-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    align-items: start;
  }
}

@media only screen and (min-width: 64rem) {
  .services-preview-grid,
  .testimonials-grid,
  .services-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .contact-layout {
    grid-template-columns: 1fr 1fr;
  }

  .site-footer {
    grid-template-columns: repeat(4, 1fr);
  }
}